/* Base styles (Mobile first approach) */

  :root {
    --netflix-red: #e50914;
    --netflix-black: #000000;
    --netflix-dark-gray: #222222;
}
  /* iPhone (Portrait and Landscape) */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 812px)
    and (-webkit-min-device-pixel-ratio: 2) {

      .subButton{
        display: flex;
        align-items: center;
        justify-content: center;

      }
      .text{

        text-decoration: line-through;
      }
      em{
        font-size: 26px;
      }
      .h5clase{
        margin-left: 40px;
        width: 450px;
        font-size: 12px;
        font-weight: 600;
    }
      /* Add your iPhone specific styles here */
  }

  /* Android Phones (Portrait and Landscape) */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 812px) {
      .emaili{
        padding-left:80px;

      }
      .h5clase{
        margin-left: 80px;
        width: fit-content;
        font-size: 14px;
        font-weight: 600;
    }
    .text{

      text-decoration: line-through;
    }

    .subButton{
      display: flex;
      align-items: center;
      justify-content: center;

    }


      /* Add your Android phone specific styles here */
  }

  /* Tablets (Portrait and Landscape) */
  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
      .subButton{
        display: flex;
        align-items: center;
        justify-content: center;

      }


      .h5clase{
        margin-left: 130px;
        width: fit-content;
        font-size: 14px;
        font-weight: 600;
    }
      .form{

        margin-left: 150px;
      }
    .text{

      text-decoration: double;
    }
      /* Add your tablet specific styles here */
  }

  /* Laptops and Desktops */
  @media only screen
    and (min-width: 1024px) {
      .subButton{
        display: flex;
        align-items: center;
        justify-content: center;

      }
      .h5clase{
        margin-left: 130px;
        width: fit-content;
        font-size: 14px;
        font-weight: 600;
    }
      /* Add your laptop/desktop specific styles here */
  }

  /* Large Desktops */
  @media only screen
    and (min-width: 1824px) {
      .subButton{
        display: flex;
        align-items: center;
        justify-content: center;

      }
      .h5clase{
        margin-left: 60%;
        width: fit-content;
        font-size: 14px;
        font-weight: 600;
    }
      /* Add your large desktop specific styles here */
  }