:root {
    --netflix-red: #e50914;
    --netflix-black: #000000;
    --netflix-dark-gray: #222222;
}

/* iPhone (Portrait and Landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 14px;
    }

    .container-H {
        margin-top: 0px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        background-image: url("/public/Assets/netbackground.png");
        height: 220px;
    }

    .btn-1 {
        background-color: var(--netflix-red);
        color: white;
        padding: 10px 20px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .header {
        display: flex;
        width: 42vh;
        align-items: center;
        justify-content: space-between;
        
    }
    .p-wrap{
        display: flex;
        width: 50%;
      
        

    }
    /* Add your iPhone specific styles here */
}

/* Android Phones (Portrait and Landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
    body {
        font-size: 14px;
    }

    /* Add your Android phone specific styles here */
}

/* Tablets (Portrait and Landscape) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        font-size: 16px;
    }

    /* Add your tablet specific styles here */
}

/* Laptops and Desktops */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    /* Add your laptop/desktop specific styles here */
}

/* Large Desktops */
@media only screen and (min-width: 1824px) {
    body {
        font-size: 20px;
    }

    /* Add your large desktop specific styles here */
}